@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-family);
} 

.p-accordion .p-accordion-header .p-accordion-header-link {
  border: none !important;
  background-color: white !important;
}

.p-accordion .p-accordion-header .p-accordion-header-link:focus{
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.p-accordion .p-accordion-content{
  border: none !important;
}